<style>
  body {
    font-family: Calibri, Helvetica, sans-serif;
    background-color: pink;
    border: 2px solid salmon;
    border-radius: 10px;


  }

  .container {
    padding: 100px;
    background-color: lightblue;
    text-align: center;
  }

  input[type=text],
  input[type=password],
  textarea {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
  }

  input[type=text]:focus,
  input[type=password]:focus {
    background-color: orange;
    outline: none;
  }

  div {
    padding: 10px 0;
  }

  hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
  }

  .registerbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
  }

  .registerbtn:hover {
    opacity: 1;
  }

  .main {
    text-align: center;
  }

  .container input[ type='text'] {
    height: 37px;
    width: 200px;

  }

  .container input[ type='password'] {
    height: 37px;
    width: 200px;

  }
  .container input[ type='date'] {
    height: 37px;
    width: 200px;

  }

  .container input[ type='number'] {
    height: 37px;
    width: 200px;

  }

  .registerbtn {
    width: 100px;
    text-align: center;
    border-radius: 25px;
    margin-left: 1%;

  }
</style>

<form>
  <div class="container">
    <h1 class="main"> Student Registeration Form</h1>
    <hr>
    <label> First name </label>
    <input type="text" name="firstname" placeholder="First name" size="15" required /> &nbsp;
    <label> Middle name: </label>
    <input type="text" name="middlename" placeholder="Middle name" size="15" required /> <br>
    <label> Last name: </label>
    <input type="text" name="lastname" placeholder="Last name" size="15" required />
    <div>
      <label>
        Course :
      </label>

      <select>
        <option value="Course">Course</option>
        <option value="B.Tech">B.Tech</option>
        <option value="MBA">MBA</option>
        <option value="MCA">MCA</option>

      </select>
    </div>
    <div>
      <label>
        Gender :
      </label>&nbsp
      <input type="radio" value="Male" name="gender" checked> Male
      <input type="radio" value="Female" name="gender"> Female
      <input type="radio" value="Other" name="gender"> Other

    </div>
    <label>
      Phone :
    </label>
    <input type="text" name="country code" placeholder="Country Code" value="+91" size="2" /> <br>
    <label for="email"><b>Email</b></label>
    <input type="text" placeholder="Enter Email" name="email" required> <br>
    <label for="Username">Username</label>
    <input type="text" name="Username" placeholder="Username"><br>
    <label for="rollno"><b>Roll No</b></label>
    <input type="number" placeholder="Enter Roll No" name="rollno" required> <br><br>

    <label for="DOB"><b>DOB</b></label>
    <input type="date" name="DOB" required> <br> <br>


    <label for="psw"><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="psw" required> &nbsp;

    <label for="psw-repeat"><b>Re-Enter Password</b></label>
    <input type="password" placeholder="Re-Enter Password" name="psw-repeat" required>
    <div class="custom-control custom-checkbox">
      <input type="checkbox" class="custom-control-input" id="customCheck1">
      <label class="custom-control-label" for="customCheck1"><a href="#">Terms & Condition</a></label><br>
    </div>
    <button type="submit" class="registerbtn">Register</button>

</form>