<h2>Login Here</h2>
<div>
<form action="">
    <label for="text">Username:</label>
    <input type="text" name="" id="" placeholder="Enter Your Email Here"> 
    <br><br>
    <label for="text">Password:</label>
    <input type="password" name="" id="" placeholder="Enter Your Password Here">
    <div class="form-check">
        <input class="form-check-input" type="checkbox" >
        <label class="form-check-label" >
          Remember me
        </label>
      </div>
      <button type="submit">Sign in</button>
      <a href="">Forgot password</a>
</form>



</div>